
<img id="logo" src="../images/logo-color.png">



<p>This is our social media web app. Nobody likes it and so will you!</p>

<p>Check it out anyway and create a post. You can post anything you want #No-hate</p>

<p>Anonymous and reliable. Mark Zuckerberg is gonna hate it.</p>

<button class="small-button col-purple" id='redirect'>Check it out boi</button>
<script>document.querySelector('#redirect')
    .addEventListener('click', () => {
        window.location.href= '/home'
    })
</script>

