
<img id="logo" src="../images/logo-color.png">


<button type='submit'>Check it out boi</button>

<p>This is our social media web app. Nobody likes it and so will you!</p>

<p>Check it out anyway and create a post. You can post anything you want #No-hate</p>

<p>Anonymous and reliable. Mark Zuckerberg is gonna hate it.</p>