<br>
<br>
<h1 style="width: 80%; text-align: center; color: rgb(141, 88, 238);">LOGIN</h1>

<form method="POST" action="/login">
  <label>Username</label>
  <input type="username" name="username" placeholder="Enter your Username"  >

   <label>Email</label>
  <input type="username" name="username" placeholder="Enter your Email"  >

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
  
  <div class="log-or-sign">
    <button type='submit'>Log In</button>
    <p>or</p>
    <a href="/signup">Signup</a>
  </div>

  {{#if error}}
     <div>{{error}}</div>
  {{/if}}

 
</form>