<h1>Ma boi just write something</h1>

<form method="POST" action="/profile/new-post">
    <textarea type="sentence" name="sentence" placeholder="Just type somethin" ></textarea>
    <button type='submit'>Send</button>
</form>