

<div class="profile-header col-purple">
    <p>My posts</p>
</div>                      
<div class="post-container">
    {{#if posts.postCreated}}
        {{#each posts.postCreated}}
            {{> post data=this}}
        {{/each}}

        {{else}}
        <p> 
            Oh boi its empty here. Click this →
            <a href="/profile/new-post">
                <button class="small-button col-purple">New Post</button>
             </a> 
             → to create a new post
        </p>
    {{/if}}
</div>

<div class="profile-header col-purp-orang">
    <p>Interactions</p>
</div>
<div class="post-container">
    {{#if posts.postUpvoted}}
        {{#each posts.postUpvoted}}
            {{> post data=this}}
        {{/each}}

        {{else}}
        <p>
            Oh boi its empty here. Click this →
            <a href="/home/hot">
                <button class="small-button col-purp-orang">Home page</button>
            </a> 
            → to see some posts            
        </p>
    {{/if}}
</div>

<div class="profile-header col-orange">
    <p>Comments</p>
</div>
<div class="post-container">
    {{#if posts.comments}}
        {{#each posts.comments}}
            {{> comment}}
        {{/each}}

        {{else}}
        <p>
            Oh boi its empty here. Click this →
            <a href="/home/hot">
                <button class="small-button col-orange">Home Page</button>
            </a> 
            → to see some posts            
        </p>
    {{/if}}
</div>   
