<h1>YOUR POSTS </h1>                       
<div class="post-container">
    {{#each data.postCreated}}
        {{> post data=this}}
    {{/each}}
</div>

<h1>NTERACTED WITH</h1>

<div class="post-container">
    {{#each data.postUpvoted}}
        {{> post data=this}}
    {{/each}}
</div>

<h1>Comments</h1>

<div class="post-container">
    {{#each data.comments}}
        {{> comment}}
    {{/each}}
</div>
