

<div class="profile-header col-purple">
    <p>My posts</p>
</div>                      
<div class="post-container">
    {{#if posts.postCreated.length}}
        {{#each posts.postCreated}}
            {{> post data=this}}
        {{/each}}

        {{else}}
        <p><i>Oh there is no data</i></p>
    {{/if}}
</div>

<div class="profile-header col-purp-orang">
    <p>Interactions</p>
</div>
<div class="post-container">
    {{#if posts.postUpvoted.length}}
        {{#each posts.postUpvoted}}
            {{> post data=this}}
        {{/each}}

        {{else}}
        <p><i>Oh there is no data</i></p>
    {{/if}}
</div>

<div class="profile-header col-orange">
    <p>Comments</p>
</div>
<div class="post-container">
    {{#if posts.postUpvoted.length}}
        {{#each posts.comments}}
            {{> comment}}
        {{/each}}

        {{else}}
        <p><i>Oh there is no data</i></p>
    {{/if}}
</div>   
