<form method="POST" action="/profile/update-user">
    <label>Username</label>
    <input type="username" name="username" placeholder="Enter your Username"  >
  
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your Password"  >
    <button type='submit'>Save</button>

    {{#if error}}
       <div>{{error}}</div>
  
  
    {{/if}}
  
   
  </form>