<div class="post-holder">
    <div class="top-holder">
        <div class="content-holder">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptates.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, aut ex repudiandae ducimus quae
                necessitatibus ipsam recusandae perferendis quo tenetur sapiente exercitationem voluptatum ratione,
                architecto ea mollitia ullam ipsum nostrum!
            </p>
        </div>
        <div class="vote-holder">
            <img id="votes-uparrow" class="vote-arrow"
            src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png" alt="">
            <p id="votes-amount">0</p>
            <img id="votes-downarrow" class="vote-arrow"
                src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-512.png" alt="">
        </div>
    </div>
    <div class="line-break"></div>
    <div class="bottom-holder">
        <div id="time-ago">
            <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" alt="">
            <p>2 min ago</p>
        </div>
        <div id="comment-sect">
            <a href="#">
                Go to comments
            </a>
            <p>
                0 comments
            </p>
        </div>
    </div>
</div>