<div class="post-holder">
    <div class="top-holder">
        <div class="content-holder">
            <p>
                {{this.sentence}}
            </p>
        </div>
        <div class="vote-holder">
            <img id="votes-uparrow" class="vote-arrow"
            src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png" alt="">
            <p id="votes-amount"> 
                {{this.upvotes}} 
            </p>
            <img id="votes-downarrow" class="vote-arrow"
                src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-512.png" alt="">
        </div>
    </div>
    <div class="line-break"></div>
    <div class="bottom-holder">
        <div id="time-ago">
            <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" alt="">
            <p> 
                {{this.timeAgo}} 
            </p>
        </div>
        <div id="comment-sect">
            <a href="#">
                Go to comments
            </a>
            <p>
                {{this.comments.length}} comments
            </p>
        </div>
    </div>
</div>