<div class="post-holder">
    <div class="top-holder">
        <div class="content-holder">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptates.</p>
        </div>
        <div class="vote-holder">
            <img id="votes-uparrow" src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png" alt="">
            <p id="votes-amount">0</p>
            <img id="votes-downarrow" src="https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-512.png" alt="">
        </div>
    </div>
    <div class="bottom-holder">
        <div>
            <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" alt="Clock">
            <p>0 min ago</p>
        </div>
        <div>
            <a href="#">
                0 comments
            </a>
        </div>
    </div>
</div>