<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
   </head>

   <body>
      
      <nav id='nav-holder'>
         <a href="/home" id="logo-holder" class="nav-container">
            <img id="logo" src="../images/logo-color.png">
         </a>

         <div class="nav-container">
            <a class="middle-item" href="/home/hot"> 
               <img src="https://cdn-icons-png.flaticon.com/512/633/633652.png" alt="">
               <p>Hot</p>
            </a>

            <a class="middle-item" href="/home/trendy"> 
               <img src="https://cdn-icons-png.flaticon.com/512/3121/3121784.png" alt="">
               <p>Trendy</p>
            </a>

            <a class="middle-item" href="/home/new"> 
               <img src="https://cdn-icons-png.flaticon.com/512/3282/3282468.png" alt="">
               <p>New</p>
            </a>
         </div>

         <div class="nav-container">
            <a href="/profile/new-post">
               <button id="newpost-but">New Post</button>
            </a> 
            <a id="sing-link" class="login-disable" href="/signup">Signup</a> 
            <a id="sing-link" class="login-disable" href="/login"> Login </a> 
            <a id="sing-link" href="/Profile"> Profile </a> 
         </div>
      </nav>

      <div class="background">
            <svg class="right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="visual" viewBox="0 0 1400 540" width="1400" height="540" version="1.1"><path d="M1021 540L1022.5 527.2C1024 514.3 1027 488.7 1005.7 463C984.3 437.3 938.7 411.7 935.3 386C932 360.3 971 334.7 975.8 308.8C980.7 283 951.3 257 938.8 231.2C926.3 205.3 930.7 179.7 937.7 154C944.7 128.3 954.3 102.7 941.8 77C929.3 51.3 894.7 25.7 877.3 12.8L860 0L1400 0L1400 12.8C1400 25.7 1400 51.3 1400 77C1400 102.7 1400 128.3 1400 154C1400 179.7 1400 205.3 1400 231.2C1400 257 1400 283 1400 308.8C1400 334.7 1400 360.3 1400 386C1400 411.7 1400 437.3 1400 463C1400 488.7 1400 514.3 1400 527.2L1400 540Z" fill="#6e2bb4"/><path d="M962 540L959 527.2C956 514.3 950 488.7 967.5 463C985 437.3 1026 411.7 1034.2 386C1042.3 360.3 1017.7 334.7 1026.5 308.8C1035.3 283 1077.7 257 1095.2 231.2C1112.7 205.3 1105.3 179.7 1082.3 154C1059.3 128.3 1020.7 102.7 1024.7 77C1028.7 51.3 1075.3 25.7 1098.7 12.8L1122 0L1400 0L1400 12.8C1400 25.7 1400 51.3 1400 77C1400 102.7 1400 128.3 1400 154C1400 179.7 1400 205.3 1400 231.2C1400 257 1400 283 1400 308.8C1400 334.7 1400 360.3 1400 386C1400 411.7 1400 437.3 1400 463C1400 488.7 1400 514.3 1400 527.2L1400 540Z" fill="#b8008a"/><path d="M1037 540L1035.5 527.2C1034 514.3 1031 488.7 1048 463C1065 437.3 1102 411.7 1106.2 386C1110.3 360.3 1081.7 334.7 1091.2 308.8C1100.7 283 1148.3 257 1156.7 231.2C1165 205.3 1134 179.7 1134 154C1134 128.3 1165 102.7 1170.5 77C1176 51.3 1156 25.7 1146 12.8L1136 0L1400 0L1400 12.8C1400 25.7 1400 51.3 1400 77C1400 102.7 1400 128.3 1400 154C1400 179.7 1400 205.3 1400 231.2C1400 257 1400 283 1400 308.8C1400 334.7 1400 360.3 1400 386C1400 411.7 1400 437.3 1400 463C1400 488.7 1400 514.3 1400 527.2L1400 540Z" fill="#d61b5d"/><path d="M1224 540L1227 527.2C1230 514.3 1236 488.7 1233.3 463C1230.7 437.3 1219.3 411.7 1223 386C1226.7 360.3 1245.3 334.7 1247 308.8C1248.7 283 1233.3 257 1225 231.2C1216.7 205.3 1215.3 179.7 1202.3 154C1189.3 128.3 1164.7 102.7 1155.8 77C1147 51.3 1154 25.7 1157.5 12.8L1161 0L1400 0L1400 12.8C1400 25.7 1400 51.3 1400 77C1400 102.7 1400 128.3 1400 154C1400 179.7 1400 205.3 1400 231.2C1400 257 1400 283 1400 308.8C1400 334.7 1400 360.3 1400 386C1400 411.7 1400 437.3 1400 463C1400 488.7 1400 514.3 1400 527.2L1400 540Z" fill="#d85238"/><path d="M1288 540L1289.8 527.2C1291.7 514.3 1295.3 488.7 1301.2 463C1307 437.3 1315 411.7 1313.2 386C1311.3 360.3 1299.7 334.7 1295 308.8C1290.3 283 1292.7 257 1287.7 231.2C1282.7 205.3 1270.3 179.7 1266.7 154C1263 128.3 1268 102.7 1276.2 77C1284.3 51.3 1295.7 25.7 1301.3 12.8L1307 0L1400 0L1400 12.8C1400 25.7 1400 51.3 1400 77C1400 102.7 1400 128.3 1400 154C1400 179.7 1400 205.3 1400 231.2C1400 257 1400 283 1400 308.8C1400 334.7 1400 360.3 1400 386C1400 411.7 1400 437.3 1400 463C1400 488.7 1400 514.3 1400 527.2L1400 540Z" fill="#c77d24"/></svg>
            <svg class="left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="visual" viewBox="0 0 1400 540" width="1400" height="540" version="1.1"><path d="M381 0L379.5 12.8C378 25.7 375 51.3 396.3 77C417.7 102.7 463.3 128.3 466.7 154C470 179.7 431 205.3 426.2 231.2C421.3 257 450.7 283 463.2 308.8C475.7 334.7 471.3 360.3 464.3 386C457.3 411.7 447.7 437.3 460.2 463C472.7 488.7 507.3 514.3 524.7 527.2L542 540L0 540L0 527.2C0 514.3 0 488.7 0 463C0 437.3 0 411.7 0 386C0 360.3 0 334.7 0 308.8C0 283 0 257 0 231.2C0 205.3 0 179.7 0 154C0 128.3 0 102.7 0 77C0 51.3 0 25.7 0 12.8L0 0Z" fill="#6e2bb4"/><path d="M440 0L443 12.8C446 25.7 452 51.3 434.5 77C417 102.7 376 128.3 367.8 154C359.7 179.7 384.3 205.3 375.5 231.2C366.7 257 324.3 283 306.8 308.8C289.3 334.7 296.7 360.3 319.7 386C342.7 411.7 381.3 437.3 377.3 463C373.3 488.7 326.7 514.3 303.3 527.2L280 540L0 540L0 527.2C0 514.3 0 488.7 0 463C0 437.3 0 411.7 0 386C0 360.3 0 334.7 0 308.8C0 283 0 257 0 231.2C0 205.3 0 179.7 0 154C0 128.3 0 102.7 0 77C0 51.3 0 25.7 0 12.8L0 0Z" fill="#b8008a"/><path d="M365 0L366.5 12.8C368 25.7 371 51.3 354 77C337 102.7 300 128.3 295.8 154C291.7 179.7 320.3 205.3 310.8 231.2C301.3 257 253.7 283 245.3 308.8C237 334.7 268 360.3 268 386C268 411.7 237 437.3 231.5 463C226 488.7 246 514.3 256 527.2L266 540L0 540L0 527.2C0 514.3 0 488.7 0 463C0 437.3 0 411.7 0 386C0 360.3 0 334.7 0 308.8C0 283 0 257 0 231.2C0 205.3 0 179.7 0 154C0 128.3 0 102.7 0 77C0 51.3 0 25.7 0 12.8L0 0Z" fill="#d61b5d"/><path d="M178 0L175 12.8C172 25.7 166 51.3 168.7 77C171.3 102.7 182.7 128.3 179 154C175.3 179.7 156.7 205.3 155 231.2C153.3 257 168.7 283 177 308.8C185.3 334.7 186.7 360.3 199.7 386C212.7 411.7 237.3 437.3 246.2 463C255 488.7 248 514.3 244.5 527.2L241 540L0 540L0 527.2C0 514.3 0 488.7 0 463C0 437.3 0 411.7 0 386C0 360.3 0 334.7 0 308.8C0 283 0 257 0 231.2C0 205.3 0 179.7 0 154C0 128.3 0 102.7 0 77C0 51.3 0 25.7 0 12.8L0 0Z" fill="#d85238"/><path d="M114 0L112.2 12.8C110.3 25.7 106.7 51.3 100.8 77C95 102.7 87 128.3 88.8 154C90.7 179.7 102.3 205.3 107 231.2C111.7 257 109.3 283 114.3 308.8C119.3 334.7 131.7 360.3 135.3 386C139 411.7 134 437.3 125.8 463C117.7 488.7 106.3 514.3 100.7 527.2L95 540L0 540L0 527.2C0 514.3 0 488.7 0 463C0 437.3 0 411.7 0 386C0 360.3 0 334.7 0 308.8C0 283 0 257 0 231.2C0 205.3 0 179.7 0 154C0 128.3 0 102.7 0 77C0 51.3 0 25.7 0 12.8L0 0Z" fill="#c77d24"/></svg>
      </div>

      <div id="main-container">
         {{{body}}}
      </div>

      <script src="/js/script.js"></script>
   </body>
</html>