<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
   </head>

   <body>
      
      <nav id='nav-holder'>
         <a href="/home" class="nav-container">
            <img id="logo" src="../images/logo-color.png">
         </a>

         <div class="nav-container">

            <a class="middle-item" href="/home/hot"> 
               <img src="https://cdn-icons-png.flaticon.com/512/633/633652.png" alt="">
               <p>Hot</p>
            </a>

            <a class="middle-item"href="/home/trendy"> 
               <img src="https://cdn-icons-png.flaticon.com/512/3121/3121784.png" alt="">
               <p>Trendy</p>
            </a>

            <a class="middle-item"href="/home/new"> 
               <img src="https://cdn-icons-png.flaticon.com/512/3282/3282468.png" alt="">
               <p>New</p>
            </a>
         </div>

         <div class="nav-container">
            <a href="/profile/new-post">
               <button id="newpost-but">New Post</button>
            </a> 
            <a id="sing-link" href="/signup">Signup</a> 
            <a id="sing-link" href="/login"> Login </a> 
         </div>
      </nav>

      <div id="body-holder">
         {{{body}}}
      </div>

      <script src="/js/script.js" height="300"></script>
   </body>
</html>