<div id="main-container">
  {{#each post}}
    {{> post data=this}}
  {{/each}}

  <form method="POST" action="/comment/create">
    <label>Comment</label>
    <input type="comment" name="comment" placeholder="Post your comment!"  >
    
    <button type='submit'>Post</button>
  </form>

  {{#each comments}} 
    {{> comment}}
  {{/each}}
</div>