
{{> post data=post}}

<form class="comment-form" method="POST" action="/comment/{{post._id}}/create">
  <textarea type="text" name="sentence" placeholder="Post your comment!"></textarea>
  
  <button type='submit'>Post</button>
</form>

{{#each comments}} 
  {{> comment}}
{{/each}}
